body{ background: #ccc url("../images/photography.png") repeat;
  font-family: "Inconsolata", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.9;
  color: #6c757d; }

